<div id="<%= dom_id lokal %>">
  <p>
    <strong>Ulica:</strong>
    <%= lokal.ulica %>
  </p>

  <p>
    <strong>Cena:</strong>
    <%= lokal.cena %>
  </p>

  <p>
    <strong>Rezerv:</strong>
    <%= lokal.rezerv %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= lokal.end_time %>
  </p>

</div>
