<p id="notice"><%= notice %></p>
<body>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>
        <strong>Name:</strong>
        <%= @lokal.ulica %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        <strong>Surname:</strong>
        <%= @lokal.cena %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        <strong>Offer End time:</strong>
        <%= @lokal.end_time %>
      </p>
    </div>
  </div>
  <div class="btn  btn-outline-info">
    <%= link_to 'Edit', edit_lokal_path(@lokal) %>
  </div>
  <div class="btn  btn-outline-info">
    <%= link_to 'Show All lokals', lokals_path %>
  </div>
  <div class="btn  btn-outline-info">
    <%= link_to 'Back', lokals_path %>
  </div>
</div>
</body>